.about-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-color: #dcdcdc;
}
.about-navbar-container {
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: #ce2525;
}
.about-left-side {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.about-icon {
  width: 36px;
  height: 36px;
}
.about-navlink {
  display: contents;
}
.about-image {
  width: 324px;
  height: 100px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.about-links-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}
.about-link {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 800;
  line-height: 2.7;
  border-color: #ffffff;
  border-width: 5px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.about-link:hover {
  width: 125%;
}
.about-link1 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.7;
  border-color: #ffffff;
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.about-link1:hover {
  width: 125%;
}
.about-link2 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.7;
  border-color: #ffffff;
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.about-link2:hover {
  width: 125%;
}
.about-link3 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.7;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.about-link3:hover {
  width: 125%;
}
.about-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.about-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.about-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.about-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-icon2 {
  width: 24px;
  height: 24px;
}
.about-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link7 {
  text-decoration: none;
}
.about-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-text {
  font-size: 3rem;
  text-align: center;
}
.about-text1 {
  max-width: 1400px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.about-team {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-end;
  background-color: #ce2525;
}
.about-heading-container {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.about-text4 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.about-text5 {
  color: #ffffff;
  text-align: center;
}
.about-image2 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.about-get-in-touch {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #ce2525;
}
.about-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-text8 {
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: capitalize;
  text-decoration: none;
}
.about-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-image3 {
  width: 200px;
  object-fit: cover;
  margin-right: 200px;
}
.about-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  justify-content: center;
  background-color: #D9D9D9;
}
.about-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-container6 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-image4 {
  width: 200px;
  object-fit: cover;
  margin-left: 0px;
}
.about-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.about-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.about-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.about-social-links {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.about-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1200px) {
  .about-link {
    font-style: normal;
    font-weight: 700;
    border-width: 2px;
  }
  .about-link3 {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    font-weight: 800;
    border-width: 5px;
  }
  .about-banner {
    background-color: #ce2525;
  }
  .about-text {
    color: rgb(255, 255, 255);
  }
  .about-text1 {
    color: #ffffff;
  }
  .about-team {
    height: 599px;
    position: relative;
  }
  .about-heading-container {
    width: auto;
    height: auto;
    padding-left: 0px;
    margin-bottom: 83px;
    padding-right: 0px;
  }
  .about-text4 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    align-self: center;
  }
  .about-text5 {
    color: rgb(255, 255, 255);
    height: 100%;
    font-size: 24px;
    align-self: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .about-text6 {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .about-image2 {
    align-self: center;
  }
  .about-text8 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: Montserrat;
    font-weight: 900;
    line-height: 1.22;
    text-transform: capitalize;
    text-decoration: none;
  }
  .about-image3 {
    width: auto;
    height: auto;
  }
  .about-container4 {
    flex: 0;
    height: 200px;
  }
  .about-image4 {
    width: auto;
    height: auto;
  }
  .about-footer {
    background-color: #D9D9D9;
  }
}
@media(max-width: 991px) {
  .about-text1 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .about-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .about-icon {
    fill: var(--dl-color-gray-white);
  }
  .about-links-container {
    display: none;
  }
  .about-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-team {
    height: 698px;
  }
  .about-heading-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .about-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-team {
    height: 871px;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .about-text4 {
    text-align: center;
  }
  .about-image2 {
    width: 412px;
  }
  .about-image3 {
    width: 50%;
    height: 50%;
    margin-right: 50px;
  }
  .about-image4 {
    width: auto;
    height: auto;
  }
}
