.flex-game-card-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 700px;
  min-width: 500px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.flex-game-card-blog-post-card:hover {
  transform: scale(1.02);
}
.flex-game-card-image {
  width: 300px;
  height: 270px;
  max-height: 350px;
  min-height: 200px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.flex-game-card-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  max-width: 100%;
  min-width: 350px;
  align-self: stretch;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.flex-game-card-container1 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.flex-game-card-text {
  color: var(--dl-color-gray-500);
  align-self: stretch;
  font-weight: 600;
  text-transform: uppercase;
}
.flex-game-card-text1 {
  color: var(--dl-color-gray-500);
  align-self: stretch;
  font-weight: 300;
}
.flex-game-card-text2 {
  margin-bottom: 32px;
}
.flex-game-card-text3 {
  color: var(--dl-color-gray-500);
  width: auto;
  height: auto;
  font-size: 1.25rem;
  min-width: 100%;
  min-height: auto;
  margin-bottom: 32px;
}
.flex-game-card-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.flex-game-card-profile {
  flex: 1;
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.flex-game-card-image1 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.flex-game-card-text4 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.flex-game-card-text5 {
  color: var(--dl-color-gray-black);
  display: none;
  font-style: normal;
  font-weight: 500;
}






@media(max-width: 1200px) {
  .flex-game-card-container1 {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 991px) {
  .flex-game-card-blog-post-card {
    max-width: 1400px;
    min-width: 50%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .flex-game-card-blog-post-card {
    flex-direction: column;
  }
  .flex-game-card-image {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .flex-game-card-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .flex-game-card-text5 {
    width: auto;
  }
}

.games-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #dcdcdc;
}
.games-navbar-container {
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: #ce2525;
}
.games-left-side {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.games-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.games-icon {
  width: 36px;
  height: 36px;
}
.games-navlink {
  display: contents;
}
.games-image {
  width: 324px;
  height: 100px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.games-links-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: center;
}
.games-link {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.7;
  border-color: #ffffff;
  border-width: 1px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-link:hover {
  width: 125%;
}
.games-link1 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 45px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 2;
  border-color: #ffffff;
  border-width: 5px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(206, 37, 37) 70.00%,rgb(255, 255, 255) 100.00%);
}
.games-link1:hover {
  width: 125%;
}
.games-link2 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.7;
  border-color: #ffffff;
  border-width: 1px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-link2:hover {
  width: 125%;
}
.games-link3 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.7;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-link3:hover {
  width: 125%;
}
.games-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.games-login {
  margin-right: 32px;
}
.games-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.games-banner {
  width: 100%;
  height: 600px;
  display: flex;
  padding: 48px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(206, 37, 37, 0.84);
}
.games-text {
  font-size: 3rem;
  text-align: center;
}
.games-container1 {
  width: auto;
  height: 100%;
}
.games-container2 {
  display: contents;
}
.games-navbar-interactive {
  gap: var(--dl-space-space-doubleunit);
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 159px;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: 32px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: rgba(206, 37, 37, 0.84);
}
.games-desktop-menu {
  flex: 1;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.games-links {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.games-links:hover {
  position: relative;
}
.games-text01 {
  width: 100%;
  height: 100px;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  line-height: 3.5;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(217, 217, 217);
}
.games-text01:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text02 {
  width: 100%;
  height: 100px;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  line-height: 3.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #D9D9D9;
}
.games-text02:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text03 {
  width: 100%;
  height: 100px;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  line-height: 3.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
  background-color: rgb(217, 217, 217);
}
.games-text03:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text04 {
  width: 100%;
  height: 100px;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  line-height: 3.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(217, 217, 217);
}
.games-text04:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text05 {
  width: 100%;
  height: 100px;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  line-height: 3.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(217, 217, 217);
}
.games-text05:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text06 {
  width: 100%;
  height: 100px;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  line-height: 3.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(217, 217, 217);
}
.games-text06:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-burger-menu {
  display: none;
}
.games-icon02 {
  width: 16px;
  height: 16px;
}
.games-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.games-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.games-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.games-logo {
  height: 2rem;
}
.games-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-icon04 {
  width: 16px;
  height: 16px;
}
.games-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.games-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.games-login1 {
  margin-right: 32px;
}
.games-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.games-icon08 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.games-icon10 {
  width: 16px;
  height: 16px;
}
.games-banner1 {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.games-text12 {
  font-size: 3rem;
  text-align: center;
}
.games-blog {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-width: auto;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  background-color: #f7f7f7;
}
.games-container3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  max-width: 700px;
  align-items: center;
  flex-direction: column;
}
.games-container4 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  max-width: 700px;
  align-items: center;
  flex-direction: column;
}
.games-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.games-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.games-social-links {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.games-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.games-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1200px) {
  .games-navbar-interactive {
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
  }
  .games-blog {
    max-width: 1000px;
    min-width: 100%;
  }
}
@media(max-width: 991px) {
  .games-navbar-interactive {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .games-links {
    flex: 0;
    align-self: center;
  }
  .games-blog {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .games-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .games-icon {
    fill: var(--dl-color-gray-white);
  }
  .games-links-container {
    display: none;
  }
  .games-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .games-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .games-desktop-menu {
    display: none;
  }
  .games-text07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text10 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-banner1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .games-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .games-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .games-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .games-mobile-menu {
    padding: 16px;
  }
  .games-banner1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .games-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
