.small-game-card-blog-post-card {
  width: auto;
  display: flex;
  max-width: auto;
  min-width: auto;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.small-game-card-blog-post-card:hover {
  width: auto;
  min-width: auto;
  transform: scale(1.02);
}
.small-game-card-container {
  flex: 0;
  width: 300px;
  height: 200px;
  display: flex;
  max-width: 300px;
  max-height: 200px;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius24);
  flex-direction: column;
  justify-content: center;
}
.small-game-card-image {
  position: relative;
  width: 100%;
  height: 188px;
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 150px;
  object-fit: cover;
}
.small-game-card-text {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
  font-family: "Source Sans 3";
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.75);
}
.small-game-card-root-class-name {
  width: auto;
}
.small-game-card-root-class-name1 {
  width: auto;
}
.small-game-card-root-class-name2 {
  width: auto;
}
.small-game-card-root-class-name3 {
  width: auto;
}
.small-game-card-root-class-name4 {
  width: auto;
}
.small-game-card-root-class-name5 {
  width: auto;
}
.small-game-card-root-class-name6 {
  width: auto;
}
.small-game-card-root-class-name7 {
  width: auto;
}
.small-game-card-root-class-name8 {
  width: auto;
}
.small-game-card-root-class-name10 {
  width: auto;
}
@media(max-width: 991px) {
  .small-game-card-blog-post-card {
    max-width: 1400px;
    min-width: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .small-game-card-blog-post-card {
    flex-direction: column;
  }
  .small-game-card-container {
    width: 100%;
  }
}

.list-item-leaderboard-container {
  gap: var(--dl-space-space-unit);
  width: 300px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 100%;
  min-width: 400px;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.list-item-leaderboard-container1 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.list-item-leaderboard-text {
  font-size: 24px;
  align-self: center;
  font-family: "Raleway";
  padding-right: var(--dl-space-space-doubleunit);
}
.list-item-leaderboard-text1 {
  font-size: 24px;
  align-self: flex-start;
  font-family: "Raleway";
}
.list-item-leaderboard-text2 {
  font-size: 24px;
  align-self: flex-start;
  text-align: center;
}

.games-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #dcdcdc;
}
.games-navbar-container {
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  z-index: 100;
  position: sticky;
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  min-height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  min-height: auto;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ce2525;
}
.games-buttons {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.games-login {
  margin-right: 32px;
}
.games-navlink {
  display: contents;
}
.games-image {
  width: 433px;
  height: 100%;
  align-self: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.games-links-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.games-link {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.5;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-link:hover {
  width: 125%;
}
.games-link1 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.5;
  border-color: #ffffff;
  border-width: 1px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-doubleunit);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-link1:hover {
  width: 125%;
}
.games-link2 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 45px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.7;
  border-color: #ffffff;
  border-width: 5px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-doubleunit);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(206, 37, 37) 70.00%,rgb(255, 255, 255) 100.00%);
}
.games-link2:hover {
  width: 125%;
}
.games-link3 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.5;
  border-color: #ffffff;
  border-width: 1px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-doubleunit);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-link3:hover {
  width: 125%;
}
.games-container1 {
  width: 100%;
  height: 550px;
  max-width: 100%;
  min-width: 100%;
  max-height: 1000px;
  min-height: 500px;
}
.games-container2 {
  display: contents;
}
.games-container3 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  min-height: auto;
  align-items: flex-start;
  justify-content: center;
}
.games-blog {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: 48px;
  max-width: auto;
  min-width: auto;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: #f7f7f7;
}
.games-text {
  font-size: 3rem;
  text-align: center;
  font-family: "Source Sans 3";
  margin-bottom: var(--dl-space-space-tripleunit);
  letter-spacing: 1px;
  text-transform: capitalize;
}
.games-large-games-container {
  gap: var(--dl-space-space-tripleunit);
  flex: 0;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.games-left-container {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.games-right-container {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-navlink1 {
  display: contents;
}
.games-text1 {
  color: #4691de;
  font-size: 2rem;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  font-family: "Source Sans 3";
  margin-bottom: 1px;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-leader-board {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: 48px;
  max-width: auto;
  min-width: 500px;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: center;
  background-color: #f7f7f7;
}
.games-text2 {
  font-size: 3rem;
  font-family: "Source Sans 3";
  margin-bottom: var(--dl-space-space-tripleunit);
}
.games-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.games-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-end;
}
.games-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.games-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1200px) {
  .games-container3 {
    width: 100%;
  }
  .games-blog {
    width: auto;
    padding: var(--dl-space-space-tripleunit);
    max-width: auto;
    min-width: auto;
  }
  .games-right-container {
    position: relative;
  }
  .games-leader-board {
    max-width: auto;
    min-width: auto;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 991px) {
  .games-container3 {
    width: 100%;
    flex-direction: column;
  }
  .games-blog {
    width: 100%;
    max-width: 100%;
    min-width: auto;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .games-leader-board {
    width: 100%;
    max-width: 100%;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .games-navbar-container {
    height: auto;
    max-height: 200px;
  }
  .games-image {
    height: 200px;
  }
  .games-links-container {
    display: none;
  }
  .games-blog {
    margin-top: 0px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .games-leader-board {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .games-navbar {
    padding-right: 0px;
  }
  .games-image {
    width: 100%;
    height: 100px;
    max-width: 100%;
  }
  .games-blog {
    flex: 1;
    width: 100%;
    max-width: 100%;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .games-large-games-container {
    flex-direction: column;
  }
  .games-leader-board {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
