.small-game-card-blog-post-card {
  width: auto;
  display: flex;
  max-width: auto;
  min-width: auto;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.small-game-card-blog-post-card:hover {
  width: auto;
  min-width: auto;
  transform: scale(1.02);
}
.small-game-card-container {
  flex: 0;
  width: 300px;
  position: relative;
  height: 200px;
  display: flex;
  min-width: 300px;
  min-height: 200px;
  align-items: center;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius24);
  flex-direction: column;
  justify-content: center;
}
.small-game-card-image {
  width: 100%;
  height: 188px;
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 150px;
  object-fit: cover;
}
.small-game-card-text {
  width: 100%;
  height: auto;
  z-index: 2;
  font-size: 1.5rem;
  flex-direction: column;
  align-self: flex-end;
  text-align: center;
  font-family: "Source Sans 3";
  /*padding-left: var(--dl-space-space-doubleunit);*/
  border-radius: var(--dl-radius-radius-radius8);
  /* padding-right: var(--dl-space-space-doubleunit); */
  background-color: rgba(255, 255, 255, 0.75);
}
.small-game-card-root-class-name3 {
  width: auto;
}
.small-game-card-root-class-name4 {
  width: auto;
}
.small-game-card-root-class-name5 {
  width: auto;
}
.small-game-card-root-class-name6 {
  width: auto;
}
.small-game-card-root-class-name7 {
  width: auto;
}
.small-game-card-root-class-name8 {
  width: auto;
}
.small-game-card-root-class-name10 {
  width: auto;
}
@media(max-width: 991px) {
  .small-game-card-blog-post-card {
    max-width: 1400px;
    min-width: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .small-game-card-blog-post-card {
    flex-direction: column;
  }
  .small-game-card-container {
    width: 100%;
  }
}

.list-item-leaderboard-container {
  gap: var(--dl-space-space-unit);
  width: 300px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 100%;
  min-width: 400px;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.list-item-leaderboard-container1 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.list-item-leaderboard-text {
  font-size: 24px;
  align-self: center;
  font-family: "Raleway";
  padding-right: var(--dl-space-space-doubleunit);
}
.list-item-leaderboard-text1 {
  font-size: 24px;
  align-self: flex-start;
  font-family: "Raleway";
}
.list-item-leaderboard-text2 {
  font-size: 24px;
  align-self: flex-start;
  text-align: center;
}

.games-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #dcdcdc;
}
.games-navbar-container {
  top: 0;
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  z-index: 100;
  position: sticky;
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  min-height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  min-height: auto;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ce2525;
}
.games-buttons {
  display: none;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.games-login {
  margin-right: 32px;
  position: relative;
}
.games-navlink {
  display: contents;
  position: relative;
}
.games-image {
  width: 433px;
  position: relative;
  height: 100%;
  align-self: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.games-links-container {
  gap: var(--dl-space-space-unit);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.games-link {
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.5;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-link:hover {
  width: 125%;
  position: relative;
}
.games-link1 {
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.5;
  border-color: #ffffff;
  border-width: 1px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-doubleunit);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
/* */
.games-link1:hover {
  width: 125%;
  position: relative;
}
.games-link2 {
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 45px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.7;
  border-color: #ffffff;
  border-width: 5px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-doubleunit);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-image: radial-gradient(circle at center, rgb(206, 37, 37) 70.00%,rgb(255, 255, 255) 100.00%);
}
.games-link2:hover {
  width: 125%;
  position: relative;
}
.games-link3 {
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  font-family: Raleway;
  font-weight: 700;
  line-height: 2.5;
  border-color: #ffffff;
  border-width: 1px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-doubleunit);
  letter-spacing: 3px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-link3:hover {
  width: 125%;
  position: relative;
}
.games-container1 {
  width: 100%;
  height: 783px;
  position: relative;
  max-width: 100%;
  min-width: 100%;
  max-height: 500px;
  min-height: 300px;
}
.games-container2 {
  display: contents;
  position: relative;
}
.games-navbar-interactive {
  gap: var(--dl-space-space-doubleunit);
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 159px;
  display: flex;
  align-items: center;
  padding-top: 32px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: rgba(206, 37, 37, 0.84);
}
.games-desktop-menu {
  flex: 1;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.games-links {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.games-links:hover {
  position: relative;
}
.games-text {
  width: 100%;
  height: 100px;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Source Sans 3";
  font-weight: 600;
  line-height: 2.5;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(217, 217, 217);
}
.games-text:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text01 {
  width: 100%;
  height: 100px;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Source Sans 3";
  font-weight: 600;
  line-height: 2.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #D9D9D9;
}
.games-text01:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text02 {
  width: 100%;
  height: 100px;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Source Sans 3";
  font-weight: 600;
  line-height: 2.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
  background-color: rgb(217, 217, 217);
}
.games-text02:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text03 {
  width: 100%;
  height: 100px;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Source Sans 3";
  font-weight: 600;
  line-height: 2.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(217, 217, 217);
}
.games-text03:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text04 {
  width: 100%;
  height: 100px;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Source Sans 3";
  font-weight: 600;
  line-height: 2.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(217, 217, 217);
}
.games-text04:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-text05 {
  width: 100%;
  height: 100px;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Source Sans 3";
  font-weight: 600;
  line-height: 2.5;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(217, 217, 217);
}
.games-text05:hover {
  width: 125%;
  height: 100%;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius24);
}
.games-burger-menu {
  display: none;
}
.games-icon {
  width: 16px;
  height: 16px;
}
.games-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.games-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.games-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.games-logo {
  height: 2rem;
}
.games-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-icon02 {
  width: 16px;
  height: 16px;
}
.games-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.games-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.games-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.games-login1 {
  margin-right: 32px;
}
.games-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.games-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.games-icon08 {
  width: 16px;
  height: 16px;
}
.games-container3 {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  max-width: 100%;
  min-width: auto;
  margin-top: var(--dl-space-space-unit);
  max-height: 100%;
  min-height: auto;
  align-items: flex-start;
  justify-content: center;
}
.games-blog {
  position: relative;
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: 48px;
  max-width: auto;
  min-width: auto;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: #f7f7f7;
}
.games-text11 {
  font-size: 3rem;
  text-align: center;
  font-family: "Source Sans 3";
  margin-bottom: var(--dl-space-space-tripleunit);
  letter-spacing: 1px;
  text-transform: capitalize;
}
.games-large-games-container {
  position: relative;
  gap: var(--dl-space-space-tripleunit);
  flex: 0;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.games-left-container {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.games-right-container {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-navlink1 {
  display: contents;
}
.games-text12 {
  color: #4691de;
  font-size: 2rem;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  font-family: "Source Sans 3";
  margin-bottom: 1px;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
}
.games-leader-board {
  gap: var(--dl-space-space-doubleunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: 48px;
  max-width: auto;
  min-width: 500px;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: center;
  background-color: #f7f7f7;
}
.games-text13 {
  font-size: 3rem;
  font-family: "Source Sans 3";
  margin-bottom: var(--dl-space-space-tripleunit);
}
.games-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.games-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-end;
}
.games-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.games-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1200px) {
  .games-navbar-interactive {
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
  }
  .games-blog {
    max-width: 1000px;
    min-width: 100%;
  }
  .games-leader-board {
    max-width: 1000px;
    min-width: 100%;
  }
}
@media(max-width: 991px) {
  .games-navbar-interactive {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .games-links {
    flex: 0;
    align-self: center;
  }
  .games-blog {
    align-items: center;
    flex-direction: column;
  }
  .games-leader-board {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .games-links-container {
    display: none;
  }
  .games-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .games-desktop-menu {
    display: none;
  }
  .games-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .games-text06 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-text10 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .games-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .games-leader-board {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .games-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .games-mobile-menu {
    padding: 16px;
  }
  .games-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .games-leader-board {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
