.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.gallery-card1-text {
  color: #ffffff;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text1 {
  color: #e9e9e9;
  align-self: flex-start;
}



.gallery-card1-root-class-name3 {
  width: 100%;
  height: auto;
}



.gallery-card1-root-class-name7 {
  width: 100%;
  height: auto;
}










.gallery-card1-root-class-name18 {
  width: 100%;
  height: auto;
}





.gallery-card1-root-class-name24 {
  width: 100%;
  height: auto;
}





.gallery-card1-root-class-name30 {
  width: 100%;
  height: auto;
}





.gallery-card1-root-class-name36 {
  width: 100%;
  height: auto;
}





.gallery-card1-root-class-name42 {
  width: 100%;
  height: auto;
}





.gallery-card1-root-class-name48 {
  width: 100%;
  height: auto;
}





.gallery-card1-root-class-name54 {
  width: 100%;
  height: auto;
}




@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
}
